@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <h1 class="text-center text-primary mb-4">Başlık Güncelleme Sayfası</h1>

    @using (Html.BeginForm("EditHeading", "Heading", FormMethod.Post))
    {
        <div class="card shadow p-4">
            <!-- Başlık ID -->
            <div class="form-group mb-3">
                @Html.LabelFor(x => x.HeadingId, "Başlık Id", new { @class = "form-label text-dark" })
                @Html.TextBoxFor(x => x.HeadingId, new { @class = "form-control", @readonly = "readonly" })
            </div>

            <!-- Başlık Adı -->
            <div class="form-group mb-3">
                @Html.LabelFor(x => x.HeadingName, "Başlık Adı", new { @class = "form-label text-dark" })
                @Html.DropDownListFor(x => x.HeadingName, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control", placeholder = "Başlık adını güncelleyin" })
                @Html.ValidationMessageFor(x => x.HeadingName, "", new { @class = "text-danger mt-1" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.HeadingName, "Başlık Adı", new { @class = "form-label text-dark" })
                @Html.DropDownListFor(x => x.HeadingName, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control", placeholder = "Başlık adını güncelleyin" })
                @Html.ValidationMessageFor(x => x.HeadingName, "", new { @class = "text-danger mt-1" })
            </div>

           

            <!-- Submit Butonu -->
            <div class="text-end">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i> Güncelle
                </button>
            </div>
        </div>
    }
</div>
