@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Yazar Ekleme</h2>
<br />
@using (Html.BeginForm("AddWriter", "Writer", FormMethod.Post))
{
    <div class="form-group">
        <!-- Yazar Adı -->
        <label for="WriterName">Yazar Adı</label>
        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control", placeholder = "Yazarın adını giriniz" })
        @Html.ValidationMessageFor(x => x.WriterName, "", new { @class = "text-danger" })
        <br />

        <!-- Yazar Soyadı -->
        <label for="WriterSurname">Yazar Soyadı</label>
        @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control", placeholder = "Yazarın soyadını giriniz" })
        @Html.ValidationMessageFor(x => x.WriterSurname, "", new { @class = "text-danger" })
        <br />

        <!-- Yazar Mail -->
        <label for="WriterMail">Yazar Mail</label>
        @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control", placeholder = "Yazarın e-posta adresini giriniz" })
        @Html.ValidationMessageFor(x => x.WriterMail, "", new { @class = "text-danger" })
        <br />

        <!-- Yazar Şifresi -->
        <label for="WriterPassword">Yazar Şifresi</label>
        @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control", placeholder = "Şifre giriniz", type = "password" })
        @Html.ValidationMessageFor(x => x.WriterPassword, "", new { @class = "text-danger" })
        <br />

        <!-- Yazar Görsel Link -->
        <label for="WriterImage">Yazar Görsel Linki</label>
        @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control", placeholder = "Görsel URL'sini giriniz" })
        @Html.ValidationMessageFor(x => x.WriterImage, "", new { @class = "text-danger" })
        <br />

        <!-- Yazar Title -->
        <label for="WriterImage">Yazar Görsel Linki</label>
        @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control", placeholder = "Title" })
        @Html.ValidationMessageFor(x => x.WriterTitle, "", new { @class = "text-danger" })
        <br />

        <!-- Yazar Hakkında -->
        <label for="WriterAbout">Yazar Hakkında</label>
        @Html.TextBoxFor(x => x.WriterAbout, new { @class = "form-control", placeholder = "Yazar hakkında kısa bir bilgi giriniz", rows = 4 })
        @Html.ValidationMessageFor(x => x.WriterAbout, "", new { @class = "text-danger" })
        <br />

        <!-- Submit Butonu -->
        <button type="submit" class="btn btn-info">
            <i class="fas fa-user-plus"></i> Yazarı Ekle
        </button>
    </div>
}